@import '../../global.scss';

.selection-wrapper {
    height: $global_height;
    background-color: $global_background_color;
    border-radius: 8px;
    margin-top: 8px;
    padding: 16px;
    .selection-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}